---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title" id="post-title">{{ post.title }}</h1>

  <style>
    .post-title {
      white-space: pre-line; /* 줄바꿈을 HTML처럼 처리하게 만듦 */
    }
  </style>

  <script>
    // 타이틀 요소 가져오기
    var titleElement = document.getElementById("post-title");

    // 현재 타이틀의 텍스트 가져오기
    var titleContent = titleElement.innerHTML;

    // ': '을 ': \n'으로 변경 (실제 줄바꿈 문자를 추가)
    titleElement.innerHTML = titleContent.replace(/: /g, ":\n");
  </script>

  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>